<section class="screenshots">
	<div class="container">
			<div class="screenshots-inner">

					<h2 class="title-h2">Screenshots</h2>

					<p class="paragraph">Here are some screenshots:</p>

					<div class="screenshots-grid">
							<div class="screenshots-grid-item">
									<img src="https://images.unsplash.com/photo-1704140159556-88e2e6177def?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
							</div>
							<div class="screenshots-grid-item">
									<img src="https://images.unsplash.com/photo-1704140159556-88e2e6177def?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
							</div>
							<div class="screenshots-grid-item">
									<img src="https://images.unsplash.com/photo-1704140159556-88e2e6177def?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
							</div>
							<div class="screenshots-grid-item">
									<img src="https://images.unsplash.com/photo-1704140159556-88e2e6177def?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
							</div>
							<div class="screenshots-grid-item">
									<img src="https://images.unsplash.com/photo-1704140159556-88e2e6177def?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
							</div>
					</diV>

			</div>
	</div>
</section>
